@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;;
  font-family: "Roboto";
  font-style: normal;
}

.escondido {
  display: none;
}
.bordaVemelha {
  border: 1px solid red;
}
.conteiner{
  width: 100%;
}
/*============================== Tela: 01, página 01 =======================================*/
.main {
  max-width: 1051px;
  width: 95%;
  margin: 0px auto;
}
.header {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  font-size: 37px;
  font-weight: 700;
  color: #fff;
  z-index: 4;

  background-color: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.criar-quizz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 181px;
  margin-top: 147px;
  margin-bottom: 77px;
  border: 1px solid #D4D4D4;

}

.criar-quizz p {
  text-align: center;
  width: 250px;
  height: 107px;
  color: #B9B9B9;
  font-size: 20px;
  font-weight: 400;
}

.criar-quizz button {
  background-color: #fff;
  width: 151px;
  height: 40px;
  border-radius: 50px;
  font-size: 21px;
  font-weight: 400;
  color: #EC362D;
  border: 1px dashed #EC362D;
}

.lista-quizz {
  width: 100%;
}

.lista-quizz h2,
.my-quizz h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 12px;
}

.lista-quizz ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.quizz {
  position: relative;
  width: 340px;
  height: 181px;
  border-radius: 5px;
}

.quizz img {
  width: 100%;
}


.quizz p {
  color: #fff;
  position: absolute;
  bottom: 0px;
  margin: 7px 21px;
  font-size: 19px;
  font-weight: 400px;
}

/*===================== Tela: 01, página 02 ==========================================*/
.my-quizz {
  margin-top: 147px;
  margin-bottom: 47px;
}

.my-quizz ul {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.my-quizz div {
  display: flex;
  align-items: center;
}

.my-quizz h2 {
  margin-top: 8px;
}

.my-quizz ion-icon {
  color: #EC362D;
  font-size: 28px;
  margin-left: 26px;
}

.my-list-quizz {
  position: relative;
  width: 340px;
  height: 181px;
}

.my-list-quizz p {
  color: #fff;
  position: absolute;
  bottom: 0px;
  margin: 7px 21px;
  font-size: 19px;
  font-weight: 400px;
}

/*============================================== Tela: 02, página 01 ==========================================================*/
.camada-escura {
  background-color: rgba(0, 0, 0);
  margin-top: 70px;
  height: 227px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.titulo {
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* margin-top: 70px; */
  height: 227px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo img {
  width: 100%;
  /* position: absolute; */
  opacity: 0.6;  
}

.titulo h2 {
  position: absolute;
  font-weight: 400;
  font-size: 39px;
  color: #fff;
}

.gamer-quizz {
  width: 95%;
  max-width: 760px;
  padding: 27px 36px;
  background-color: #ffffff;
  margin: 42px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.gamer-quizz .titulo-quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 137.99px;
  background-color: #434CA0;
  margin-bottom: 20px;
}

.titulo-quizz h3 {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
}

.quizz-pergunta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  position:relative;
}

.card {
  width: 329.91px;
  height: 175.2px;
  margin-top: 40px;
  position: relative;
}

.card p {
  /* margin: 7px 0px 18px 0px; */
  /* color: #000; */
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  position: absolute;
  top: 183px;
}
.gameOver{
  display: flex;
  flex-direction: column;
  max-width: 759px;
  width: 100%;
  height: 430px;
  padding: 18px;
  margin: 0px auto;

  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.porcentagem-de-acertos{
  display: flex;
  width: 100%;
  height: 99px;
  margin-bottom: 41px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
 
  background: #EC362D;
}
.msm-fim-de-jogo{
  display: flex;
  justify-content: space-between;
  gap:20px;
  font-weight: 700;
  font-size: 19px;

  color: #484848;
}
/* estilizacao perguntas tela 2 */
.esbranquicar > div:not(.resposta-selecionada) {
  opacity: 0.3;
}
.acertô {
  color: #009C22;
}
.eroouuu,
.esbranquicar > div{
  color: #FF4B4B;
}
/*=================================== Tela: 03, página 01 ==============================================*/
.section-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 155px auto;
}

.section-quizz h1 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 27px;
}

.criandoQuizz {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 21px 16px;
  background-color: #fff;
}

.criandoQuizz input {
  height: 46px;
  padding-left: 23px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

.criandoQuizz input::placeholder {
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  color: #BABABA;
}

.btnProsseguir {
  width: 368.86px;
  height: 54px;

  background: #EC362D;
  border: none;
  border-radius: 15px;

  font-size: 21px;
  font-weight: 400;
  color: #FFF5F4;
  margin-top: 81px;
}

/*==================================== Tela: 03, página 02 ==============================================*/
.pagina-perguntas {
  background-color: #E5E5E5;
}

.section-perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 155px auto;
}

.section-perguntas h1 {
  font-size: 23px;
  font-weight: 700;
  color: #000;
}

.criandoPerguntas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 21px 16px;
  background-color: #fff;
  margin-top: 36px;
  margin-bottom: 24px;
}

.criandoPerguntas h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

input {
  height: 46px;
  padding-left: 26px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

input::placeholder {
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  color: #BABABA;
}

.perguntas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  height: 74px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 22px;
  background-color: #fff;
}

/*=================================== Tela: 03, página 03 =============================================*/
.section-niveis {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  max-width: 600px;
  margin-top: 147px;

}

.section-niveis h1 {
  text-align: center;
  color: #000;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 43px;
}

.section-niveis h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.niveis-quizz {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 316px;
  padding: 27px 16px;
  background-color: #fff;
  margin-bottom: 24px
}

.niveis {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  background-color: #fff;
  margin-bottom: 22px;
}

.section-niveis button {
  width: 324px;
  height: 54px;

  border: none;
  background: #EC362D;
  border-radius: 15px;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  margin: 75px auto;
}

/*========================================= Tela: 03, página 04 =========================================*/
.section-finalizer-Quizz {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 600px;
  width: 100%;
  margin-top: 147px;
}

.section-finalizer-Quizz h1 {
  font-size: 23px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 46px;
}

.section-finalizer-Quizz div {
  width: 95%;
  max-width: 500px;
  height: 266px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 45px;
  position: relative;
}
.section-finalizer-Quizz img{
  width: 100%;
}

.section-finalizer-Quizz h2 {
  position: absolute;
  color: #fff;
  bottom: 9px;
  left: 23px;
  font-size: 23px;
  font-weight: 400;
}

.section-finalizer-Quizz button {
  width: 220.32px;
  height: 44px;

  background: #EC362D;
  border: none;
  border-radius: 15px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  margin: auto;
  margin-bottom: 9px;
}

.section-finalizer-Quizz p {
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  color: #818181;
}
